[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
selenium = "*"
pandas = "*"
numpy = "*"
seaborn = "*"
torch = "*"
transformers = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true